.code {
  font-size: 50px;
  padding-left: 70px;
}

.failure {
  color: #d9534f;
}

.success {
  color: #5cb85c;
}

.form-inline {
  margin-bottom: 10px;
}

.message {
  font-weight: bold;
}

#shell {
	/* max-width: 50%;
	max-height: 50%; */
	width: 50%;
	height: 50%;
	
}
